@font-face {
  font-family: "pixelart-icons-font";
  src: url('pixelart-icons-font.eot?t=1711815892278'); /* IE9*/
  src: url('pixelart-icons-font.eot?t=1711815892278#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("pixelart-icons-font.woff2?t=1711815892278") format("woff2"),
  url("pixelart-icons-font.woff?t=1711815892278") format("woff"),
  url('pixelart-icons-font.ttf?t=1711815892278') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('pixelart-icons-font.svg?t=1711815892278#picon') format('svg'); /* iOS 4.1- */
}

[class^="picon-"], [class*=" picon-"] {
  font-family: 'pixelart-icons-font' !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.picon-4g:before { content: "\ea01"; }
.picon-4k-box:before { content: "\ea02"; }
.picon-4k:before { content: "\ea03"; }
.picon-5g:before { content: "\ea04"; }
.picon-ab-testing:before { content: "\ea05"; }
.picon-ac:before { content: "\ea06"; }
.picon-add-box-multiple:before { content: "\ea07"; }
.picon-add-box:before { content: "\ea08"; }
.picon-add-col:before { content: "\ea09"; }
.picon-add-grid:before { content: "\ea0a"; }
.picon-add-row:before { content: "\ea0b"; }
.picon-alert:before { content: "\ea0c"; }
.picon-align-center:before { content: "\ea0d"; }
.picon-align-justify:before { content: "\ea0e"; }
.picon-align-left:before { content: "\ea0f"; }
.picon-align-right:before { content: "\ea10"; }
.picon-analytics:before { content: "\ea11"; }
.picon-anchor:before { content: "\ea12"; }
.picon-android:before { content: "\ea13"; }
.picon-animation:before { content: "\ea14"; }
.picon-archive:before { content: "\ea15"; }
.picon-arrow-bar-down:before { content: "\ea16"; }
.picon-arrow-bar-left:before { content: "\ea17"; }
.picon-arrow-bar-right:before { content: "\ea18"; }
.picon-arrow-bar-up:before { content: "\ea19"; }
.picon-arrow-down-box:before { content: "\ea1a"; }
.picon-arrow-down:before { content: "\ea1b"; }
.picon-arrow-left-box:before { content: "\ea1c"; }
.picon-arrow-left:before { content: "\ea1d"; }
.picon-arrow-right-box:before { content: "\ea1e"; }
.picon-arrow-right:before { content: "\ea1f"; }
.picon-arrow-up-box:before { content: "\ea20"; }
.picon-arrow-up:before { content: "\ea21"; }
.picon-arrows-horizontal:before { content: "\ea22"; }
.picon-arrows-vertical:before { content: "\ea23"; }
.picon-art-text:before { content: "\ea24"; }
.picon-article-multiple:before { content: "\ea25"; }
.picon-article:before { content: "\ea26"; }
.picon-aspect-ratio:before { content: "\ea27"; }
.picon-at:before { content: "\ea28"; }
.picon-attachment:before { content: "\ea29"; }
.picon-audio-device:before { content: "\ea2a"; }
.picon-avatar:before { content: "\ea2b"; }
.picon-backburger:before { content: "\ea2c"; }
.picon-battery-1:before { content: "\ea2d"; }
.picon-battery-2:before { content: "\ea2e"; }
.picon-battery-charging:before { content: "\ea2f"; }
.picon-battery-full:before { content: "\ea30"; }
.picon-battery:before { content: "\ea31"; }
.picon-bed:before { content: "\ea32"; }
.picon-bitcoin:before { content: "\ea33"; }
.picon-bluetooth:before { content: "\ea34"; }
.picon-book-open:before { content: "\ea35"; }
.picon-book:before { content: "\ea36"; }
.picon-bookmark:before { content: "\ea37"; }
.picon-bookmarks:before { content: "\ea38"; }
.picon-briefcase-account:before { content: "\ea39"; }
.picon-briefcase-check:before { content: "\ea3a"; }
.picon-briefcase-delete:before { content: "\ea3b"; }
.picon-briefcase-download:before { content: "\ea3c"; }
.picon-briefcase-minus:before { content: "\ea3d"; }
.picon-briefcase-plus:before { content: "\ea3e"; }
.picon-briefcase-search-1:before { content: "\ea3f"; }
.picon-briefcase-search:before { content: "\ea40"; }
.picon-briefcase-upload:before { content: "\ea41"; }
.picon-briefcase:before { content: "\ea42"; }
.picon-bug:before { content: "\ea43"; }
.picon-building-community:before { content: "\ea44"; }
.picon-building-skyscraper:before { content: "\ea45"; }
.picon-building:before { content: "\ea46"; }
.picon-buildings:before { content: "\ea47"; }
.picon-bulletlist:before { content: "\ea48"; }
.picon-bullseye-arrow:before { content: "\ea49"; }
.picon-bullseye:before { content: "\ea4a"; }
.picon-bus:before { content: "\ea4b"; }
.picon-cake:before { content: "\ea4c"; }
.picon-calculator:before { content: "\ea4d"; }
.picon-calendar-alert:before { content: "\ea4e"; }
.picon-calendar-arrow-left:before { content: "\ea4f"; }
.picon-calendar-arrow-right:before { content: "\ea50"; }
.picon-calendar-check:before { content: "\ea51"; }
.picon-calendar-export:before { content: "\ea52"; }
.picon-calendar-grid:before { content: "\ea53"; }
.picon-calendar-import:before { content: "\ea54"; }
.picon-calendar-minus:before { content: "\ea55"; }
.picon-calendar-month:before { content: "\ea56"; }
.picon-calendar-multiple-check:before { content: "\ea57"; }
.picon-calendar-multiple:before { content: "\ea58"; }
.picon-calendar-plus:before { content: "\ea59"; }
.picon-calendar-range:before { content: "\ea5a"; }
.picon-calendar-remove:before { content: "\ea5b"; }
.picon-calendar-search:before { content: "\ea5c"; }
.picon-calendar-sort-ascending:before { content: "\ea5d"; }
.picon-calendar-sort-descending:before { content: "\ea5e"; }
.picon-calendar-text:before { content: "\ea5f"; }
.picon-calendar-today:before { content: "\ea60"; }
.picon-calendar-tomorrow:before { content: "\ea61"; }
.picon-calendar-week-begin:before { content: "\ea62"; }
.picon-calendar-week:before { content: "\ea63"; }
.picon-calendar-weekend:before { content: "\ea64"; }
.picon-calendar:before { content: "\ea65"; }
.picon-camera-add:before { content: "\ea66"; }
.picon-camera-alt:before { content: "\ea67"; }
.picon-camera-face:before { content: "\ea68"; }
.picon-camera:before { content: "\ea69"; }
.picon-car:before { content: "\ea6a"; }
.picon-card-id:before { content: "\ea6b"; }
.picon-card-plus:before { content: "\ea6c"; }
.picon-card-stack:before { content: "\ea6d"; }
.picon-card-text:before { content: "\ea6e"; }
.picon-card:before { content: "\ea6f"; }
.picon-cart:before { content: "\ea70"; }
.picon-cast:before { content: "\ea71"; }
.picon-cellular-signal-0:before { content: "\ea72"; }
.picon-cellular-signal-1:before { content: "\ea73"; }
.picon-cellular-signal-2:before { content: "\ea74"; }
.picon-cellular-signal-3:before { content: "\ea75"; }
.picon-cellular-signal-off:before { content: "\ea76"; }
.picon-chart-add:before { content: "\ea77"; }
.picon-chart-bar:before { content: "\ea78"; }
.picon-chart-delete:before { content: "\ea79"; }
.picon-chart-minus:before { content: "\ea7a"; }
.picon-chart-multiple:before { content: "\ea7b"; }
.picon-chart:before { content: "\ea7c"; }
.picon-chat:before { content: "\ea7d"; }
.picon-check-double:before { content: "\ea7e"; }
.picon-check:before { content: "\ea7f"; }
.picon-checkbox-on:before { content: "\ea80"; }
.picon-checkbox:before { content: "\ea81"; }
.picon-checklist:before { content: "\ea82"; }
.picon-chess:before { content: "\ea83"; }
.picon-chevron-down:before { content: "\ea84"; }
.picon-chevron-left:before { content: "\ea85"; }
.picon-chevron-right:before { content: "\ea86"; }
.picon-chevron-up:before { content: "\ea87"; }
.picon-chevrons-horizontal:before { content: "\ea88"; }
.picon-chevrons-vertical:before { content: "\ea89"; }
.picon-circle:before { content: "\ea8a"; }
.picon-clipboard:before { content: "\ea8b"; }
.picon-clock:before { content: "\ea8c"; }
.picon-close-box:before { content: "\ea8d"; }
.picon-close:before { content: "\ea8e"; }
.picon-cloud-done:before { content: "\ea8f"; }
.picon-cloud-download:before { content: "\ea90"; }
.picon-cloud-moon:before { content: "\ea91"; }
.picon-cloud-sun:before { content: "\ea92"; }
.picon-cloud-upload:before { content: "\ea93"; }
.picon-cloud:before { content: "\ea94"; }
.picon-cocktail:before { content: "\ea95"; }
.picon-code:before { content: "\ea96"; }
.picon-coffee-alt:before { content: "\ea97"; }
.picon-coffee:before { content: "\ea98"; }
.picon-coin:before { content: "\ea99"; }
.picon-collapse:before { content: "\ea9a"; }
.picon-colors-swatch:before { content: "\ea9b"; }
.picon-command:before { content: "\ea9c"; }
.picon-comment:before { content: "\ea9d"; }
.picon-contact-delete:before { content: "\ea9e"; }
.picon-contact-multiple:before { content: "\ea9f"; }
.picon-contact-plus:before { content: "\eaa0"; }
.picon-contact:before { content: "\eaa1"; }
.picon-copy:before { content: "\eaa2"; }
.picon-corner-down-left:before { content: "\eaa3"; }
.picon-corner-down-right:before { content: "\eaa4"; }
.picon-corner-left-down:before { content: "\eaa5"; }
.picon-corner-left-up:before { content: "\eaa6"; }
.picon-corner-right-down:before { content: "\eaa7"; }
.picon-corner-right-up:before { content: "\eaa8"; }
.picon-corner-up-left:before { content: "\eaa9"; }
.picon-corner-up-right:before { content: "\eaaa"; }
.picon-credit-card-delete:before { content: "\eaab"; }
.picon-credit-card-minus:before { content: "\eaac"; }
.picon-credit-card-multiple:before { content: "\eaad"; }
.picon-credit-card-plus:before { content: "\eaae"; }
.picon-credit-card-settings:before { content: "\eaaf"; }
.picon-credit-card-wireless:before { content: "\eab0"; }
.picon-credit-card:before { content: "\eab1"; }
.picon-crop:before { content: "\eab2"; }
.picon-cut:before { content: "\eab3"; }
.picon-dashbaord:before { content: "\eab4"; }
.picon-debug-check:before { content: "\eab5"; }
.picon-debug-off:before { content: "\eab6"; }
.picon-debug-pause:before { content: "\eab7"; }
.picon-debug-play:before { content: "\eab8"; }
.picon-debug-stop:before { content: "\eab9"; }
.picon-debug:before { content: "\eaba"; }
.picon-delete:before { content: "\eabb"; }
.picon-deskphone:before { content: "\eabc"; }
.picon-device-laptop:before { content: "\eabd"; }
.picon-device-phone:before { content: "\eabe"; }
.picon-device-tablet:before { content: "\eabf"; }
.picon-device-tv-smart:before { content: "\eac0"; }
.picon-device-tv:before { content: "\eac1"; }
.picon-device-vibrate:before { content: "\eac2"; }
.picon-device-watch:before { content: "\eac3"; }
.picon-devices:before { content: "\eac4"; }
.picon-dice:before { content: "\eac5"; }
.picon-dollar:before { content: "\eac6"; }
.picon-downasaur:before { content: "\eac7"; }
.picon-download:before { content: "\eac8"; }
.picon-draft:before { content: "\eac9"; }
.picon-drag-and-drop:before { content: "\eaca"; }
.picon-drop-area:before { content: "\eacb"; }
.picon-drop-full:before { content: "\eacc"; }
.picon-drop-half:before { content: "\eacd"; }
.picon-drop:before { content: "\eace"; }
.picon-duplicate-alt:before { content: "\eacf"; }
.picon-duplicate:before { content: "\ead0"; }
.picon-edit-box:before { content: "\ead1"; }
.picon-edit:before { content: "\ead2"; }
.picon-euro:before { content: "\ead3"; }
.picon-expand:before { content: "\ead4"; }
.picon-external-link:before { content: "\ead5"; }
.picon-eye-closed:before { content: "\ead6"; }
.picon-eye:before { content: "\ead7"; }
.picon-file-alt:before { content: "\ead8"; }
.picon-file-delete:before { content: "\ead9"; }
.picon-file-flash:before { content: "\eada"; }
.picon-file-minus:before { content: "\eadb"; }
.picon-file-multiple:before { content: "\eadc"; }
.picon-file-off:before { content: "\eadd"; }
.picon-file-plus:before { content: "\eade"; }
.picon-file:before { content: "\eadf"; }
.picon-fill-half:before { content: "\eae0"; }
.picon-fill:before { content: "\eae1"; }
.picon-flag:before { content: "\eae2"; }
.picon-flatten:before { content: "\eae3"; }
.picon-flip-to-back:before { content: "\eae4"; }
.picon-flip-to-front:before { content: "\eae5"; }
.picon-float-center:before { content: "\eae6"; }
.picon-float-left:before { content: "\eae7"; }
.picon-float-right:before { content: "\eae8"; }
.picon-folder-minus:before { content: "\eae9"; }
.picon-folder-plus:before { content: "\eaea"; }
.picon-folder-x:before { content: "\eaeb"; }
.picon-folder:before { content: "\eaec"; }
.picon-forward:before { content: "\eaed"; }
.picon-forwardburger:before { content: "\eaee"; }
.picon-frame-add:before { content: "\eaef"; }
.picon-frame-check:before { content: "\eaf0"; }
.picon-frame-delete:before { content: "\eaf1"; }
.picon-frame-minus:before { content: "\eaf2"; }
.picon-frame:before { content: "\eaf3"; }
.picon-gamepad:before { content: "\eaf4"; }
.picon-gif:before { content: "\eaf5"; }
.picon-gift:before { content: "\eaf6"; }
.picon-git-branch:before { content: "\eaf7"; }
.picon-git-commit:before { content: "\eaf8"; }
.picon-git-merge:before { content: "\eaf9"; }
.picon-git-pull-request:before { content: "\eafa"; }
.picon-github-2:before { content: "\eafb"; }
.picon-github:before { content: "\eafc"; }
.picon-gps:before { content: "\eafd"; }
.picon-grid:before { content: "\eafe"; }
.picon-group:before { content: "\eaff"; }
.picon-hd:before { content: "\eb00"; }
.picon-headphone:before { content: "\eb01"; }
.picon-headset:before { content: "\eb02"; }
.picon-heart:before { content: "\eb03"; }
.picon-hidden:before { content: "\eb04"; }
.picon-home:before { content: "\eb05"; }
.picon-hourglass:before { content: "\eb06"; }
.picon-hq:before { content: "\eb07"; }
.picon-human-handsdown:before { content: "\eb08"; }
.picon-human-handsup:before { content: "\eb09"; }
.picon-human-height-alt:before { content: "\eb0a"; }
.picon-human-height:before { content: "\eb0b"; }
.picon-human-run:before { content: "\eb0c"; }
.picon-human:before { content: "\eb0d"; }
.picon-image-arrow-right:before { content: "\eb0e"; }
.picon-image-broken:before { content: "\eb0f"; }
.picon-image-delete:before { content: "\eb10"; }
.picon-image-flash:before { content: "\eb11"; }
.picon-image-frame:before { content: "\eb12"; }
.picon-image-gallery:before { content: "\eb13"; }
.picon-image-multiple:before { content: "\eb14"; }
.picon-image-new:before { content: "\eb15"; }
.picon-image-plus:before { content: "\eb16"; }
.picon-image:before { content: "\eb17"; }
.picon-inbox-all:before { content: "\eb18"; }
.picon-inbox-full:before { content: "\eb19"; }
.picon-inbox:before { content: "\eb1a"; }
.picon-info-box:before { content: "\eb1b"; }
.picon-invert:before { content: "\eb1c"; }
.picon-iso:before { content: "\eb1d"; }
.picon-kanban:before { content: "\eb1e"; }
.picon-keyboard:before { content: "\eb1f"; }
.picon-label-alt-multiple:before { content: "\eb20"; }
.picon-label-alt:before { content: "\eb21"; }
.picon-label-sharp:before { content: "\eb22"; }
.picon-label:before { content: "\eb23"; }
.picon-layout-align-bottom:before { content: "\eb24"; }
.picon-layout-align-left:before { content: "\eb25"; }
.picon-layout-align-right:before { content: "\eb26"; }
.picon-layout-align-top:before { content: "\eb27"; }
.picon-layout-columns:before { content: "\eb28"; }
.picon-layout-distribute-horizontal:before { content: "\eb29"; }
.picon-layout-distribute-vertical:before { content: "\eb2a"; }
.picon-layout-footer:before { content: "\eb2b"; }
.picon-layout-header:before { content: "\eb2c"; }
.picon-layout-rows:before { content: "\eb2d"; }
.picon-layout-sidebar-left:before { content: "\eb2e"; }
.picon-layout-sidebar-right:before { content: "\eb2f"; }
.picon-layout:before { content: "\eb30"; }
.picon-lightbulb-2:before { content: "\eb31"; }
.picon-lightbulb-on:before { content: "\eb32"; }
.picon-lightbulb:before { content: "\eb33"; }
.picon-link:before { content: "\eb34"; }
.picon-list-box:before { content: "\eb35"; }
.picon-list:before { content: "\eb36"; }
.picon-loader:before { content: "\eb37"; }
.picon-lock-open:before { content: "\eb38"; }
.picon-lock:before { content: "\eb39"; }
.picon-login:before { content: "\eb3a"; }
.picon-logout:before { content: "\eb3b"; }
.picon-luggage:before { content: "\eb3c"; }
.picon-mail-arrow-right:before { content: "\eb3d"; }
.picon-mail-check:before { content: "\eb3e"; }
.picon-mail-delete:before { content: "\eb3f"; }
.picon-mail-flash:before { content: "\eb40"; }
.picon-mail-multiple:before { content: "\eb41"; }
.picon-mail-off:before { content: "\eb42"; }
.picon-mail-unread:before { content: "\eb43"; }
.picon-mail:before { content: "\eb44"; }
.picon-map:before { content: "\eb45"; }
.picon-mastodon:before { content: "\eb46"; }
.picon-membercard:before { content: "\eb47"; }
.picon-menu:before { content: "\eb48"; }
.picon-message-arrow-left:before { content: "\eb49"; }
.picon-message-arrow-right:before { content: "\eb4a"; }
.picon-message-bookmark:before { content: "\eb4b"; }
.picon-message-clock:before { content: "\eb4c"; }
.picon-message-delete:before { content: "\eb4d"; }
.picon-message-flash:before { content: "\eb4e"; }
.picon-message-image:before { content: "\eb4f"; }
.picon-message-minus:before { content: "\eb50"; }
.picon-message-plus:before { content: "\eb51"; }
.picon-message-processing:before { content: "\eb52"; }
.picon-message-reply:before { content: "\eb53"; }
.picon-message-text:before { content: "\eb54"; }
.picon-message:before { content: "\eb55"; }
.picon-minus:before { content: "\eb56"; }
.picon-missed-call:before { content: "\eb57"; }
.picon-modem:before { content: "\eb58"; }
.picon-money:before { content: "\eb59"; }
.picon-monitor:before { content: "\eb5a"; }
.picon-mood-happy:before { content: "\eb5b"; }
.picon-mood-neutral:before { content: "\eb5c"; }
.picon-mood-sad:before { content: "\eb5d"; }
.picon-moon-star:before { content: "\eb5e"; }
.picon-moon-stars:before { content: "\eb5f"; }
.picon-moon:before { content: "\eb60"; }
.picon-more-horizontal:before { content: "\eb61"; }
.picon-more-vertical:before { content: "\eb62"; }
.picon-mouse:before { content: "\eb63"; }
.picon-move:before { content: "\eb64"; }
.picon-movie:before { content: "\eb65"; }
.picon-music:before { content: "\eb66"; }
.picon-next:before { content: "\eb67"; }
.picon-note-delete:before { content: "\eb68"; }
.picon-note-multiple:before { content: "\eb69"; }
.picon-note-plus:before { content: "\eb6a"; }
.picon-note:before { content: "\eb6b"; }
.picon-notes-delete:before { content: "\eb6c"; }
.picon-notes-multiple:before { content: "\eb6d"; }
.picon-notes-plus:before { content: "\eb6e"; }
.picon-notes:before { content: "\eb6f"; }
.picon-notification-off:before { content: "\eb70"; }
.picon-notification:before { content: "\eb71"; }
.picon-open:before { content: "\eb72"; }
.picon-paint-bucket:before { content: "\eb73"; }
.picon-paperclip:before { content: "\eb74"; }
.picon-pause:before { content: "\eb75"; }
.picon-percent:before { content: "\eb76"; }
.picon-picture-in-picture-alt:before { content: "\eb77"; }
.picon-picture-in-picture:before { content: "\eb78"; }
.picon-pin:before { content: "\eb79"; }
.picon-pixelarticons:before { content: "\eb7a"; }
.picon-play:before { content: "\eb7b"; }
.picon-playlist:before { content: "\eb7c"; }
.picon-plus:before { content: "\eb7d"; }
.picon-power:before { content: "\eb7e"; }
.picon-prev:before { content: "\eb7f"; }
.picon-print:before { content: "\eb80"; }
.picon-radio-handheld:before { content: "\eb81"; }
.picon-radio-on:before { content: "\eb82"; }
.picon-radio-signal:before { content: "\eb83"; }
.picon-radio-tower:before { content: "\eb84"; }
.picon-reciept-alt:before { content: "\eb85"; }
.picon-reciept:before { content: "\eb86"; }
.picon-redo:before { content: "\eb87"; }
.picon-reload:before { content: "\eb88"; }
.picon-remove-box-multiple:before { content: "\eb89"; }
.picon-remove-box:before { content: "\eb8a"; }
.picon-repeat:before { content: "\eb8b"; }
.picon-reply-all:before { content: "\eb8c"; }
.picon-reply:before { content: "\eb8d"; }
.picon-rounded-corner:before { content: "\eb8e"; }
.picon-save:before { content: "\eb8f"; }
.picon-scale:before { content: "\eb90"; }
.picon-script-text:before { content: "\eb91"; }
.picon-script:before { content: "\eb92"; }
.picon-scroll-horizontal:before { content: "\eb93"; }
.picon-scroll-vertical:before { content: "\eb94"; }
.picon-sd:before { content: "\eb95"; }
.picon-search:before { content: "\eb96"; }
.picon-section-copy:before { content: "\eb97"; }
.picon-section-minus:before { content: "\eb98"; }
.picon-section-plus:before { content: "\eb99"; }
.picon-section-x:before { content: "\eb9a"; }
.picon-section:before { content: "\eb9b"; }
.picon-server:before { content: "\eb9c"; }
.picon-sharp-corner:before { content: "\eb9d"; }
.picon-shield-off:before { content: "\eb9e"; }
.picon-shield:before { content: "\eb9f"; }
.picon-ship:before { content: "\eba0"; }
.picon-shopping-bag:before { content: "\eba1"; }
.picon-shuffle:before { content: "\eba2"; }
.picon-sliders-2:before { content: "\eba3"; }
.picon-sliders:before { content: "\eba4"; }
.picon-sort-alphabetic:before { content: "\eba5"; }
.picon-sort-numeric:before { content: "\eba6"; }
.picon-sort:before { content: "\eba7"; }
.picon-speaker:before { content: "\eba8"; }
.picon-speed-fast:before { content: "\eba9"; }
.picon-speed-medium:before { content: "\ebaa"; }
.picon-speed-slow:before { content: "\ebab"; }
.picon-spotlight:before { content: "\ebac"; }
.picon-store:before { content: "\ebad"; }
.picon-subscriptions:before { content: "\ebae"; }
.picon-subtitles:before { content: "\ebaf"; }
.picon-suitcase:before { content: "\ebb0"; }
.picon-sun-alt:before { content: "\ebb1"; }
.picon-sun:before { content: "\ebb2"; }
.picon-switch:before { content: "\ebb3"; }
.picon-sync:before { content: "\ebb4"; }
.picon-tab:before { content: "\ebb5"; }
.picon-table:before { content: "\ebb6"; }
.picon-tea:before { content: "\ebb7"; }
.picon-teach:before { content: "\ebb8"; }
.picon-text-add:before { content: "\ebb9"; }
.picon-text-colums:before { content: "\ebba"; }
.picon-text-search:before { content: "\ebbb"; }
.picon-text-wrap:before { content: "\ebbc"; }
.picon-timeline:before { content: "\ebbd"; }
.picon-toggle-left:before { content: "\ebbe"; }
.picon-toggle-right:before { content: "\ebbf"; }
.picon-tournament:before { content: "\ebc0"; }
.picon-track-changes:before { content: "\ebc1"; }
.picon-trash-alt:before { content: "\ebc2"; }
.picon-trash:before { content: "\ebc3"; }
.picon-trending-down:before { content: "\ebc4"; }
.picon-trending-up:before { content: "\ebc5"; }
.picon-trending:before { content: "\ebc6"; }
.picon-trophy:before { content: "\ebc7"; }
.picon-truck:before { content: "\ebc8"; }
.picon-undo:before { content: "\ebc9"; }
.picon-ungroup:before { content: "\ebca"; }
.picon-unlink:before { content: "\ebcb"; }
.picon-upload:before { content: "\ebcc"; }
.picon-user-minus:before { content: "\ebcd"; }
.picon-user-plus:before { content: "\ebce"; }
.picon-user-x:before { content: "\ebcf"; }
.picon-user:before { content: "\ebd0"; }
.picon-users:before { content: "\ebd1"; }
.picon-video-off:before { content: "\ebd2"; }
.picon-video:before { content: "\ebd3"; }
.picon-view-col:before { content: "\ebd4"; }
.picon-view-list:before { content: "\ebd5"; }
.picon-viewport-narrow:before { content: "\ebd6"; }
.picon-viewport-wide:before { content: "\ebd7"; }
.picon-visible:before { content: "\ebd8"; }
.picon-volume-1:before { content: "\ebd9"; }
.picon-volume-2:before { content: "\ebda"; }
.picon-volume-3:before { content: "\ebdb"; }
.picon-volume-minus:before { content: "\ebdc"; }
.picon-volume-plus:before { content: "\ebdd"; }
.picon-volume-vibrate:before { content: "\ebde"; }
.picon-volume-x:before { content: "\ebdf"; }
.picon-volume:before { content: "\ebe0"; }
.picon-wallet:before { content: "\ebe1"; }
.picon-warning-box:before { content: "\ebe2"; }
.picon-wind:before { content: "\ebe3"; }
.picon-zap:before { content: "\ebe4"; }
.picon-zoom-in:before { content: "\ebe5"; }
.picon-zoom-out:before { content: "\ebe6"; }

