
@import '/typeface/Iconography/fonts/pixelart-icons-font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
    width: 100vw;
}

img {
    image-rendering: pixelated;
    max-width: unset;
    height: auto;
    width: auto;
}

:root {
    --font-base: 12pt;
    --font-540p: 12pt;
    --font-720plus: 16pt;
    --font-480p: 10pt;

    font-size: var(--font-base);
}

.pix {
    font-family: 'pixel-icon'
}

.text-standard-xl {
    font-family: 'Standard';
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.text-standard-lg {
    font-family: 'Standard';
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-standard-md {
    font-family: 'Standard';
    font-size: .7rem;
    letter-spacing: 1px;
}

.text-standard-sm {
    font-family: 'Standard';
    font-size: .6rem;
    letter-spacing: 1px;
}

.text-standard-xs {
    font-family: 'Standard';
    font-size: .5rem;
    letter-spacing: 1px;
}

.text-fabled-md {
    font-family: 'Fabled';
    font-size: 10pt;
    letter-spacing: 1px;
}

.text-fabled-xl {
    font-family: 'Fabled';
    font-size: 28pt;
    letter-spacing: 3px;
}

.text-tiny-sm {
    font-family: 'Tiny';
    font-size: 8pt;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Standard';
    src: url(/typeface/Everyday-Standard-All/Everyday_Standard_Original.ttf)
}

@font-face {
    font-family: 'Tiny';
    src: url(/typeface/Everyday-Tiny-All/Everyday_Tiny_Original.ttf)
}

@font-face {
    font-family: 'Fabled';
    src: url(/typeface/Fabled-Font-All/Fabled_Font.ttf)
}
