@import '/typeface/Iconography/fonts/pixelart-icons-font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
    width: 100vw;
}

img {
    image-rendering: pixelated;
    max-width: unset;
    height: auto;
    width: auto;
}

:root {
    --sprite-scale-sm: 2;
    --sprite-scale-lg: 3;

    --font-base: 12pt;
    --font-540p: 12pt;
    --font-720plus: 16pt;
    --font-480p: 10pt;

    --sprite-scale: var(--sprite-scale-sm);
    font-size: var(--font-base);

    --bg: #151d28;
    --bg-alt: #303050;
    --bg-dark: #121821;
    --blue-300: #a38529;
    --yellow-500: #D2BF55;
    --yellow-700: #7D6C0C;
}

@media (min-height: 720px) {
    :root {
        --sprite-scale: var(--sprite-scale-lg);
    }
}

.abs-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.abs-center-x {
    @apply absolute left-1/2 -translate-x-1/2;
}

.abs-center-y {
    @apply absolute top-1/2 -translate-y-1/2;
}

.menu-select-highlight {
    @apply rounded;
    background: linear-gradient(-75deg,
            transparent 0%,
            transparent 5%,
            rgb(190 18 60 / var(--tw-bg-opacity, 1)) 10%,
            rgb(190 18 60 / var(--tw-bg-opacity, 1)) 90%,
            transparent 95%,
            transparent 100%);
}

.pix {
    font-family: 'pixel-icon'
}

.text-standard-xl {
    font-family: 'Standard';
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.text-standard-lg {
    font-family: 'Standard';
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-standard-md {
    font-family: 'Standard';
    font-size: .7rem;
    letter-spacing: 1px;
}

.text-standard-sm {
    font-family: 'Standard';
    font-size: .6rem;
    letter-spacing: 1px;
}

.text-standard-xs {
    font-family: 'Standard';
    font-size: .5rem;
    letter-spacing: 1px;
}

.text-fabled-md {
    font-family: 'Fabled';
    font-size: 10pt;
    letter-spacing: 1px;
}

.text-fabled-xl {
    font-family: 'Fabled';
    font-size: 28pt;
    letter-spacing: 3px;
}

.text-tiny-sm {
    font-family: 'Tiny';
    font-size: 8pt;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Standard';
    src: url(/typeface/Everyday-Standard-All/Everyday_Standard_Original.ttf)
}

@font-face {
    font-family: 'Tiny';
    src: url(/typeface/Everyday-Tiny-All/Everyday_Tiny_Original.ttf)
}

@font-face {
    font-family: 'Fabled';
    src: url(/typeface/Fabled-Font-All/Fabled_Font.ttf)
}